# Assignment #8 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: 
</br>
Date: 
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
- Created our own databases from scratch using MySQL Workbench and Python with SQLAlchemy on our local server and locally on our machine.
- Populated our databases with the data we cleaned at the start of the semester.
<br>

Now we will **JOIN** our knowledge and tables to answer more complex questions about our dataset! We will practice joining tables and understand the importance of using different commands.<br>

JOIN statements are used to combine results from two or more tables based on a related column between them.<br>

Review the powerpoint and readings specified on Blackboard.<br>

In the event your database does not meet the requirements below to answer the question, please use the database provided in Assignment #4 and #5. Remember to credit your data source. <br>

Follow the instructions below to complete the assignment. Write your question you are answering with your data query and visualize your results in a way that fits your data. <br>
Be sure to comment **all** code and answer **all** questions in markdown for full credit.<br>

**Data origin:**

In [11]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation
import os

In [13]:
# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.

conn = mysql.connector.connect(
        host="localhost", # This is your local instance number when you open MySQL Workbench.
        user="root", # This is your username for MySQL Workbench
        password="Moral140") # We wrote this password down in our first class!

# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()

In [15]:
# Time to connect to the database using SQL Alchemy:
DATABASE_URL = "mysql+mysqlconnector://root:Moral140@localhost/nutrition__physical_activity" # Use MySQL Connector to connect to the database
engine = create_engine(DATABASE_URL) # Creates a connection to the MySQL database

print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

#### INNER JOIN (or JOIN)
Display matching records from TWO tables! Choose to combine two tables using inner join. <br>
Write your question you are answering with your data query and visualize your results. <br>
<br>
**Example Question:** What were the songs most listened to during this week in the year 2022?
<br>
**What tables are we joining?** song and listening_history

In 2019 what location sourced the most records

In [23]:

with engine.connect() as connection:
    inner_join_query = text("""
        SELECT 
            records.yearend AS Year,
            records.locationid AS loc_id,
            location.locationdesc AS loc_desc,
            SUM(records.id) AS count
        FROM records
        JOIN location ON records.locationid = location.locationid
        WHERE records.yearend = 2019
        GROUP BY records.yearend, records.locationid, location.locationdesc
        ORDER BY count DESC
        LIMIT 10;
    """)
    
    result_df = pd.read_sql(inner_join_query, connection)


print(result_df)

   Year  loc_id       loc_desc    count
0  2019      34     New Jersey  34478.0
1  2019      26       Michigan  34061.0
2  2019      39           Ohio  33058.0
3  2019      10       Delaware  32024.0
4  2019       2         Alaska  31173.0
5  2019      40       Oklahoma  30826.0
6  2019       8       Colorado  30637.0
7  2019      53     Washington  29559.0
8  2019      49           Utah  29469.0
9  2019      33  New Hampshire  29018.0

#### LEFT JOIN
<br>
Returns ALL records from the left table and matching records from the right table. Write your question you are answering with your data query and visualize your results.. 
<br><br>
**Question:** What day of the week were the most songs played?
<br>
**What tables are we joining?** song and listening_history

What Questions come from the datasource SHP

In [35]:
with engine.connect() as connection:
    left_join_query = text("""
        SELECT 
            question.questionid AS Qid,
            question.question AS Qdesc,
            records.datasource AS source,
            SUM(records.id) AS count
        FROM question
        LEFT JOIN records 
            ON question.questionid = records.questionid 
            AND records.datasource = 'SHP'
        WHERE records.datasource IS NOT NULL
        GROUP BY question.questionid, question.question
        ORDER BY count DESC;
    """)
    
    result_df = pd.read_sql(left_join_query, connection)

print(result_df)

    Qid                                              Qdesc source   count
0  Q063  Percent of secondary schools that allowed stud...    SHP  3206.0
1  Q062  Percent of secondary schools that allowed stud...    SHP  3194.0
2  Q061  Percent of secondary schools that offered a se...    SHP  3191.0

#### RIGHT JOIN
<br>
Returns ALL records from the right table and matching records from the left table. Write your question you are answering with your data query and visualize your results.. <br>
<br>
**Question:** What were the days of the week and artists listened to on Sundays? Include all listening history for those times.
<br>
**What tables are we joining?** song and listening_history

Which questions have values of Yes or No in the data set

In [55]:
with engine.connect() as connection:
    right_join_query = text("""
        SELECT 
            records.questionid AS QID,
            COUNT(*) AS total_records,
            SUM(CASE WHEN datavalues.data_value IN ('Yes', 'NO') THEN 1 ELSE 0 END) AS yes_no_count
        FROM datavalues
        RIGHT JOIN records 
            ON records.id = datavalues.id 
        GROUP BY records.questionid
        HAVING SUM(CASE WHEN datavalues.data_value IN ('Yes', 'NO') THEN 1 ELSE 0 END) > 0
        ORDER BY yes_no_count DESC;
    """)
    
    result_df = pd.read_sql(right_join_query, connection)

print(result_df)

    QID  total_records  yes_no_count
0  Q032            572         561.0
1  Q033            572         561.0
2  Q052            572         561.0
3  Q064            572         561.0
4  Q065            572         561.0
5  Q066            572         561.0
6  Q053            477         468.0
7  Q034             52          51.0
8  Q022             51          50.0

#### FULL JOIN or UNION of RIGHT JOIN and LEFT JOIN
<br>
Can answer multiple objectives at the same time! Not recommended for large databases. Results may slow your machine or quit before finishing. Write your question you are answering with your data query and visualize your results. <br>
<br>
**Question:** What artists were listened to on Sundays and what are the listening_history details in the year 2021? Let's save this as a dataframe and determine which artist contained the most "trackdone" (Listened to the entire song).
<br>
**What tables are we joining?** song and listening_history

In [62]:
with engine.connect() as connection:
    full_outer_query = text("""
       SELECT 
            question.questionid AS QID,
            question.question AS Qdesc,
            records.id AS record_id,
            records.datasource AS source
        FROM question
        LEFT JOIN records ON question.questionid = records.questionid

    UNION

        SELECT 
            records.questionid AS QID,
            NULL AS Qdesc,
            records.id AS record_id,
            records.datasource AS source
        FROM records
        LEFT JOIN question ON question.questionid = records.questionid;
        
            """)
            
    result_df = pd.read_sql(full_outer_query, connection)

print(result_df)

        QID                                              Qdesc  record_id  \
0      Q009  Average Maternity Practice in Infant Nutrition...        209
1      Q009  Average Maternity Practice in Infant Nutrition...        438
2      Q009  Average Maternity Practice in Infant Nutrition...        744
3      Q009  Average Maternity Practice in Infant Nutrition...        764
4      Q009  Average Maternity Practice in Infant Nutrition...        774
...     ...                                                ...        ...
12585  Q033                                               None       6291
12586  Q016                                               None       6292
12587  Q032                                               None       6293
12588  Q016                                               None       6294
12589  Q030                                               None       6295

                                                  source
0      CDC Maternity Practices in Infant Nutrition an...
1      CDC Maternity Practices in Infant Nutrition an...
2      CDC Maternity Practices in Infant Nutrition an...
3      CDC Maternity Practices in Infant Nutrition an...
4      CDC Maternity Practices in Infant Nutrition an...
...                                                  ...
12585                           ECE Surveillance Sources
12586                 Breastfeeding Surveillance Sources
12587                           ECE Surveillance Sources
12588                 Breastfeeding Surveillance Sources
12589         Fruits and Vegetables Surveillance Sources

[12590 rows x 4 columns]

In [66]:
# Close your connection :)
cursor.close()
conn.close()